// Configuration file for nf-core/methylseq pipeline

params {
    input       = 'samplesheet.csv'
    outdir      = 'results'
    genome      = null
    aligner     = 'bwameth'

    // Global caps for a local machine
    max_cpus    = 2
    max_memory  = '6.GB'
    max_time    = '240.h'

    // Skip heavy/nonessential QC for this local test run
    skip_fastqc = true
    skip_multiqc = false

    trace_enabled    = true
    timeline_enabled = true
    report_enabled   = true
}

process {
    // Safe defaults for local execution
    cpus   = 2
    memory = '4.GB'
    time   = '4.h'

    // --- Steps that already caused failures ---
    withName: 'BWAMETH_INDEX' {
        cpus   = 2
        memory = '4.GB'
        time   = '4.h'
    }

    withName: 'SAMTOOLS_SORT' {
        cpus   = 2
        memory = '4.GB'
        time   = '4.h'
    }

    // FastQC is skipped, but keep this safe anyway
    withName: 'FASTQC' {
        cpus   = 2
        memory = '4.GB'
        time   = '2.h'
    }

    // --- Likely heavy downstream steps ---
    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:TRIMGALORE' {
        cpus   = 2
        memory = '4.GB'
        time   = '4.h'
    }

    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:CAT_FASTQ' {
        cpus   = 1
        memory = '2.GB'
        time   = '2.h'
    }

    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:FASTQ_ALIGN_DEDUP_BWAMETH:BWAMETH_ALIGN' {
        cpus   = 2
        memory = '6.GB'
        time   = '8.h'
    }

    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:FASTQ_ALIGN_DEDUP_BWAMETH:SAMTOOLS_SORT' {
        cpus   = 2
        memory = '4.GB'
        time   = '4.h'
    }

    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:FASTQ_ALIGN_DEDUP_BWAMETH:SAMTOOLS_INDEX_ALIGNMENTS' {
        cpus   = 1
        memory = '2.GB'
        time   = '2.h'
    }

    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:FASTQ_ALIGN_DEDUP_BWAMETH:SAMTOOLS_FLAGSTAT' {
        cpus   = 1
        memory = '2.GB'
        time   = '2.h'
    }

    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:FASTQ_ALIGN_DEDUP_BWAMETH:SAMTOOLS_STATS' {
        cpus   = 1
        memory = '2.GB'
        time   = '2.h'
    }

    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:FASTQ_ALIGN_DEDUP_BWAMETH:PICARD_MARKDUPLICATES' {
        cpus   = 2
        memory = '4.GB'
        time   = '4.h'
    }

    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:FASTQ_ALIGN_DEDUP_BWAMETH:SAMTOOLS_INDEX_DEDUPLICATED' {
        cpus   = 1
        memory = '2.GB'
        time   = '2.h'
    }

    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:FASTQ_ALIGN_DEDUP_BWAMETH:METHYLDACKEL_EXTRACT' {
        cpus   = 2
        memory = '6.GB'
        time   = '6.h'
    }

    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:FASTQ_ALIGN_DEDUP_BWAMETH:METHYLDACKEL_MBIAS' {
        cpus   = 2
        memory = '4.GB'
        time   = '4.h'
    }

    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:MULTIQC' {
        cpus   = 1
        memory = '2.GB'
        time   = '2.h'
    }
}

executor {
    name = 'local'
    cpus = 2
}

docker.enabled      = false
singularity.enabled = false
conda.enabled       = true
conda.useMamba      = true

workDir = './work'
cleanup = false

process {
    withName: BWAMETH_ALIGN {
        cpus = 2
        memory = '6.GB'
    }
}
