params {
    outdir = "results"
}

process {
    executor = "local"
    cpus = 4

    withName: RUN_METHYLSEQ {
        conda = "${projectDir}/envs/methylseq.yml"
    }

    withName: PARSE_PAIRS {
        conda = "${projectDir}/envs/pairtools.yml"
    }

    withName: ANNOTATE_PAIRS {
        conda = "${projectDir}/envs/methyl.yml"
    }

    withName: VALIDATE_PAIRS {
        conda = "${projectDir}/envs/methyl.yml"
    }
}

conda {
    enabled = true
}
