params {
    outdir = "results"
}

profiles {

    local {
        process {
            shell = ['/bin/bash', '-euo', 'pipefail']
            executor = 'local'
            cpus = 4

            withName: SPLIT_FASTQ {
                conda = "${projectDir}/envs/methyl.yml"
            }

            withName: RUN_METHYLSEQ {
                conda = "${projectDir}/envs/methylseq.yml"
            }

            withName: PARSE_PAIRS {
                conda = "${projectDir}/envs/pairtools.yml"
            }

            withName: MERGE_DEDUP_PAIRS {
                conda = "${projectDir}/envs/pairtools.yml"
            }

            withName: ANNOTATE_PAIRS {
                conda = "${projectDir}/envs/methyl.yml"
            }

            withName: VALIDATE_PAIRS {
                conda = "${projectDir}/envs/methyl.yml"
            }
        }

        conda {
            enabled = true
            useMamba = true
        }
    }

    cluster {
        process {
            shell = ['/bin/bash', '-euo', 'pipefail']
            executor = 'slurm'
            queue = 'medium'

            withName: SPLIT_FASTQ {
                conda  = "${projectDir}/envs/methyl.yml"
                cpus   = 4
                memory = 16.GB
                time   = 4.d
                queue  = 'medium'
            }

            withName: RUN_METHYLSEQ {
                conda  = "${projectDir}/envs/methylseq.yml"
                cpus   = 16
                memory = 24.GB
                time   = 12.h
                queue  = 'short'
            }

            withName: PARSE_PAIRS {
                conda  = "${projectDir}/envs/pairtools.yml"
                cpus   = 4
                memory = 4.GB
                time   = 6.h
                queue  = 'short'
            }

            withName: MERGE_DEDUP_PAIRS {
                conda  = "${projectDir}/envs/pairtools.yml"
                cpus   = 2
                memory = 12.GB
                time   = 6.h
                queue  = 'short'
            }

            withName: ANNOTATE_PAIRS {
                conda  = "${projectDir}/envs/methyl.yml"
                cpus   = 2
                memory = 4.GB
                time   = 6.h
                queue  = 'short'
            }

            withName: VALIDATE_PAIRS {
                conda  = "${projectDir}/envs/methyl.yml"
                cpus   = 1
                memory = 1.GB
                time   = 6.h
                queue  = 'short'
            }
        }

        executor {
            queueSize = 50
            submitRateLimit = '10 sec'
        }

        conda {
            enabled = true
            useMamba = true
        }
    }
}

timeline {
    enabled = false
}

report {
    enabled = false
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = false
}
