process {
    withName: RUN_METHYLSEQ {
        conda = '/n/data1/dfci/pathonc/johnstone/lab/huc530/methyl_microc_lab/prebuilt_envs/methylseq'
    }

    withName: PARSE_PAIRS {
        conda = '/n/data1/dfci/pathonc/johnstone/lab/huc530/methyl_microc_lab/prebuilt_envs/pairtools'
    }

    withName: ANNOTATE_PAIRS {
        conda = '/n/data1/dfci/pathonc/johnstone/lab/huc530/methyl_microc_lab/prebuilt_envs/methyl'
    }

    withName: VALIDATE_PAIRS {
        conda = '/n/data1/dfci/pathonc/johnstone/lab/huc530/methyl_microc_lab/prebuilt_envs/methyl'
    }
}
