process {
    withName: SPLIT_FASTQ {
        conda = '/n/data1/dfci/pathonc/johnstone/lab/huc530/methyl_microc_lab/prebuilt_envs/methyl'
    }

    withName: RUN_METHYLSEQ {
        conda = '/n/data1/dfci/pathonc/johnstone/lab/huc530/methyl_microc_lab/prebuilt_envs/methylseq'

        beforeScript = '''
            export USE_PREBUILT_METHYLSEQ_ENV=true
            export CONDA_NO_PLUGINS=true
        '''
    }

    withName: PARSE_PAIRS {
        conda = '/n/data1/dfci/pathonc/johnstone/lab/huc530/methyl_microc_lab/prebuilt_envs/pairtools'
    }

    withName: MERGE_DEDUP_PAIRS {
        conda = '/n/data1/dfci/pathonc/johnstone/lab/huc530/methyl_microc_lab/prebuilt_envs/pairtools'
    }

    withName: ANNOTATE_PAIRS {
        conda = '/n/data1/dfci/pathonc/johnstone/lab/huc530/methyl_microc_lab/prebuilt_envs/methyl'
    }

    withName: VALIDATE_PAIRS {
        conda = '/n/data1/dfci/pathonc/johnstone/lab/huc530/methyl_microc_lab/prebuilt_envs/methyl'
    }
}
