/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for using local GRCh38 reference
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Use this configuration to point to your local GRCh38 reference genome
    and avoid downloading from remote sources.

    Use as follows:
        nextflow run nf-core/methylseq -profile conda,local_reference --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Local reference profile'
    config_profile_description = 'Use local GRCh38 reference genome and bwa-meth index'

    // Local reference paths
    fasta = "${projectDir}/references/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
    bwameth_index = "${projectDir}/references/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna"
    
    // Genome information
    genome = null  // Disable automatic genome download
    
    // Alignment options
    aligner = 'bwameth'
    
    // Save options
    save_reference = true
    save_align_intermeds = false
    
    // Skip time-consuming steps for faster testing
    skip_preseq = false
    skip_deduplication = false
}
